/*estilos.css*/
h1 {
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

    hr {
        border: none;
        height: 2px;
        background-color: aqua;
        width: 100%;
    }

h2 {
    font-family:  "Arial", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: aquamarine;
}

h1 {
    color: #0074e8;
    background-color: #00cc99;
    border: 1px solid #ff00ff;
    box-shadow: 2px 2px 5px #ffff00;
    text-shadow: 1px 1px 2px #ff3333;
    }
    